@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #3C3D3F;
    color: #ffff;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 280rem;
}

/* navbar */
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 96%;
    background: #48494C;
    margin: 1.5rem;
    z-index: 10;
}
.n-left img{
    display: flex;
    width: 10rem;
    height: 5rem;
    padding: 1rem;
}
.n-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.search{
    display: flex;
    font-size: 1.3rem;
    margin-right: 5rem;
    cursor: pointer;
}
.n-item{
    display: flex;
    margin-right: 5rem;
}
.n-item .arrow{
    font-size: 10px;
    margin-left: 5px;
}
.a-tag{
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    margin: 1rem;
    padding-bottom: 2rem;
}
.a-tag:hover{
    border-bottom: 3px solid rgb(33, 188, 33);
}
.n-lang {
    display: flex;
}


/* location */
.loc{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 55rem;
    padding: 1.5rem;
    gap: 10rem;
    top: 2rem;
    margin-top: 10rem;
}
.loc-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.loc-map{
    display: flex;
    justify-content: center;
}
iframe{
    width: 80rem;
    height: 35rem;
}

/* cards */
.card{
    position: relative;
    display: flex;
    height: 60rem;
    flex-wrap: wrap;
    top: 10rem;
    margin-top: 10rem;
}
.c-body{
    display: flex;
    flex-direction: column;
    background: none;
    border: 1px solid green;
    margin: 1.5rem;
    padding: 1rem;
    gap: 2rem;
    cursor: pointer;
}
.c-body img{
    width: 100%;
    height: 100%;
}
.image{
    width: 15rem;
    overflow: hidden;
}
.c-body img:hover{
    scale: 1.05;
}
.c-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.orange{
    font-size: 1.3rem;
    font-weight: 600;
    color: orange;
}
.green{
    font-size: 1rem;
    font-weight: 500;
    color: green;
}

/* company details */
.c-detail{
    position: relative;
    flex-direction: column;
    height: 25rem;
    top: 10rem;
    padding: 1.5rem;
    margin-top: 10rem;
}
.c-desc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7rem;
    margin-top: 2rem;
}
.c-desc-i{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5rem;
}

/* contact form  */
.c-form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45rem;
    top: 10rem;
    padding: 1.5rem;
    margin-top: 10rem;
    gap: 3rem;
}
.form{
    display: flex;
    justify-content: space-between;
    background: #48494C;
    padding: 4rem 2.5rem;
}
.f-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
}
input, select, textarea{
    width: 30rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: solid 2px #BABABA;
}
option.placeholder {
    color: #ffffff;
    background: none;
  }
.f-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.f-right button{
    width: 8rem;
    height: 3.5rem;
    background: transparent;
    color: #ffff;
    border: 2px solid orange;
}
::-webkit-input-placeholder { /* WebKit/Blink browsers */
    color: #ffff;
    font-size: 1.1rem;
}

/* footer */
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(233, 233, 233);
    margin-top: 20rem;
    padding: 1.5rem;
    bottom: 0;
    width: 100%;
    color: black;
}
.f-up{
    display: flex;
    align-items: center;
    height: 7rem;
}
.f-option{
    display: flex;
    gap: 2.5rem;
}
.f-option a{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.f-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    gap: 3rem;
}
.f-mail{
    display: flex;
    flex-direction: column;
}
.f-down{
    display: flex;
    justify-content: space-between;
    line-height: 6rem;
    width: 30rem;
    gap: 1rem;
}
.footer p{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(120, 120, 120);
}